*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.top-container{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 70%;
}

.title{
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

.desc{
  max-width: 70%;
  color: rgb(177, 177, 177);
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 15px;
}

.links{
  text-decoration: none;
  color: royalblue;
  font-weight: 600;
}

.bottom-container{
  width: 100%;
  height: 100%;
  background-color: rgb(233, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.cards{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 70px;
}


.card-1{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  padding: 30px 70px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.image{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -85px;
}

.name{
  font-size: 20px;
  padding-top: 15px;
  color: gray;
}

.role{
  font-size: 12px;
  font-weight: 800;
  padding: 8px;
  color: rgb(179, 179, 179);
}

.icons{
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.icons a{
  color: gray;
}

@media screen and (max-width: 768px) {
  .desc{
    font-size: 16px;
    max-width: 100%;
  }
  .title{
    font-size: 25px;
  }
}
@media screen and (max-width: 425px) {
  .desc{
    font-size: 14px;
  }
  .title{
    font-size: 20px;
  }
}